<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basebackend.system.mapper.SysDictMapper">

    <!-- 根据字典类型查询字典 -->
    <select id="selectByDictType" resultType="com.basebackend.system.entity.SysDict">
        SELECT *
        FROM sys_dict
        WHERE dict_type = #{dictType}
        AND deleted = 0
    </select>


</mapper>
