spring:
  application:
    name: basebackend-code-generator
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  main:
    allow-circular-references: true
    allow-bean-definition-overriding: true
server:
  port: 8089