apiVersion: v1
kind: Service
metadata:
  name: admin-api
  labels:
    app: admin-api
spec:
  type: ClusterIP
  ports:
    - port: 8082
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: admin-api
