# Actuator 配置
management:
  endpoints:
    web:
      exposure:
        # 暴露所有端点
        include: "*"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
    metrics:
      enabled: true
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name:basebackend}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      # 采样率，1.0表示100%采样
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://192.168.66.126:9411/api/v2/spans
  prometheus:
    metrics:
      export:
        enabled: true

# 健康检查配置
spring:
  application:
    name: basebackend
