.dept-tree-node {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  width: 100%;
}

.dept-tree-actions {
  opacity: 0;
  transition: opacity 0.3s;
}

.dept-tree-node:hover .dept-tree-actions {
  opacity: 1;
}
