spring:
  profiles:
    default: scheduler,camunda
seata:
  # ============================================================================
  # 基础配置
  # ============================================================================
  enabled: false