apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-api
spec:
  template:
    spec:
      containers:
        - name: admin-api
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"
            - name: JAVA_OPTS
              value: "-Xms256m -Xmx512m -XX:+UseG1GC -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
